extends layouts/layout

block title
  title Loadout Lab - Profile

block content
    .container.edit-profile
        h1 Edit Profile
        form(style='margin-top: 40px;' method='POST' action=`/edit-profile/${user._id}`)
            .form-group
                h4(for='username') Username:
                input(type='text' id='username' name='username' value=user.username)

            .form-group
                h4(for='firstName') First Name:
                input(type='text' id='firstName' name='firstName' value=user.firstName placeholder="Enter your first name")

            .form-group
                h4(for='lastName') Last Name:
                input(type='text' id='lastName' name='lastName' value=user.lastName placeholder="Enter your last name")

            .form-group
                h4(for='email') Email Address:
                input(type='email' id='email' name='email' value=user.email placeholder="Enter your email address")

            .form-group
                button.btn(type='submit') Update Profile

        .form-group
            button.btn(type='button', onclick="window.location.href='/update-password'") Change Password

        .form-group
            button.btn-cancel(type='button', onclick="window.location.href='/profile'") Cancel